<%- include roomcreation %>
 <a href="#" ng-click="grid = !grid"> Switch to List View </a>
 <br>
<div ng-repeat="room in rooms | filter : {name : roomname} | filter: addedInRoom" ng-cloak>
  <div class="tile double " ng-click='addRoom(room)'> 
      <button class="info"> 
        <i ng-class="{'icon-plus-2' : 'true'}"></i></button>
            <p style="padding:5px;" >{{ room.name }}</p>
  </div>
</div>
<div class="tile double bg-hover-lightBlue" ng-click="createRoom()">
  <button class="info"> <i ng-class="{'icon-plus-2' : 'true'}"></i></button>
    <p style="padding:5px;" >Create Room</p>
</div>