
<div class="grid" id="{{room.id}}" ng-show='viewPage == room.id' >
<div class="row" style="height:100%">
<div class="span10" >
   <div class="panel"  data-role="panel">
      <div class="panel-header  bg-lightBlue fg-white">
         ChatBox -- {{room.name}}
      </div>
      <div class="panel-content">
            <div id="chat">
               <div id="messages" style="overflow:scroll; height:250px">
                  <ul class = "messages-list">
                     <li class="list-unstyled" ng-repeat="message in room.posts" ng-cloak autoscroll ng-class="{dark: $index % 2 === 0}"><strong>{{ message.name }}</strong>: {{ message.message }}</li>
                  </ul>
               </div>
               <br>
               <form class="input-control textarea">
                  <textarea class="input-control text size8" ng-model="message" name="message" id="message"on-focus="focus(true)" on-blur="focus(false)" type="text" value="" placeholder="Put message here"></textarea>
                  <div class="size2 input-control select">
                     <select ng-model="room.writeMode" ng-options="mode for mode in modes"></select>
                  </div>
                  <input type="text" ng-model="urllink" ng-show="room.writeMode == 'Link'"placeholder="Place URL Link here" 
                        class="size5 input-control text"></input>
                  <button ng-click="send(room.id, room.writeMode)">Submit</button>
               </form>
            </div>
         </div>
      </div>
   </div>
   <div class="span4">
         <div class="panel"  data-role="panel">
      <div class="panel-header  bg-lightBlue fg-white">
         Pinned Notes
      </div>
      <div class="panel-content">
         <ul ng-repeat="item in room.pinnedPosts">
            <pin post="item"></pin>
         </ul>
      </div>
   </div>
   <fieldset>
      <legend>People Online</legend>
      <ul ng-repeat="person in room.people">
         <li>{{person}}</li>
      </ul>
      <button ng-click="leaveRoom(room.id)">Leave Room</button>
   </fieldset>
</div>
</div>