<div id="createroom">
    <form class="form-inline" role="form" ng-hide="user.owns && user.inroom">
            <div class="form-group">
                <input type="text" placeholder="Enter room name" class="form-control" ng-model="roomname" name="roomname" id="roomname">
            </div> 
    </form>
</div>